<div class="c-sidebar">
    <div class="c-sidebar__wrap">
        <div class="c-sidebar__title c-ttl__san20">この物件の商品</div>
        <div class="c-sidebar__content">
            <div class="c-sidebar__image"><img class="c-sidebar__img" src="<%- event.image %>" alt="<%- event.text %>"></div>
            <div class="c-sidebar__logo"><img class="c-sidebar__img" src="<%- event.logo %>" alt="<%- event.text %>"></div>
            <h3 class="c-sidebar__txt c-txt__san16b"><%- event.text %></h3>
            <div class="c-btnall03 c-btnall03--white">
                <a href="#" class="c-btnall03__link c-txt__ac16b">
                  <span>
                    <%= button.view_more %>
                  </span>
                </a>
            </div>
        </div>
        <div class="c-sidebar__model">
            <a href="#" class="c-sidebar__modelimg"><img class="c-sidebar__img" src="../assets/img/sidebar/sidebar-model.jpg" alt="モデルハウス予約"></a>
            <div class="c-sidebar__modelinfor"><h4 class="c-sidebar__modelttl c-ttl__san24m"><span class="c-sidebar__modelcap c-txt__ac16">MODEL HOUSE</span>モデルハウス予約</h4></div>
        </div>
    </div>
</div>